/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csprojAssemblyReference.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csprojAssemblyReference.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csprojAssemblyReference.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csprojAssemblyReference.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csprojAssemblyReference.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
