/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csprojAssemblyReference.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csprojAssemblyReference.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csprojAssemblyReference.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csprojAssemblyReference.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csprojAssemblyReference.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csproj.CoreCompileInputs.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csproj.FileListAbsolute.txt
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.dll
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.pdb
/AlexSplit/AlexSplit.Executor/bin/Debug/netcoreapp3.1/AlexSplit.Executor.deps.json
/AlexSplit/AlexSplit.Executor/bin/Debug/netcoreapp3.1/AlexSplit.Executor.dll
/AlexSplit/AlexSplit.Executor/bin/Debug/netcoreapp3.1/AlexSplit.Executor.pdb
/AlexSplit/AlexSplit.Executor/obj/AlexSplit.Executor.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit.Executor/obj/AlexSplit.Executor.csproj.nuget.g.props
/AlexSplit/AlexSplit.Executor/obj/AlexSplit.Executor.csproj.nuget.g.targets
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Executor.AssemblyInfo.cs
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Executor.AssemblyInfoInputs.cache
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Executor.assets.cache
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Executor.csproj.CoreCompileInputs.cache
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Executor.csproj.FileListAbsolute.txt
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Executor.csprojAssemblyReference.cache
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Executor.dll
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Executor.pdb
/AlexSplit/AlexSplit.Executor/obj/project.assets.json
/AlexSplit/AlexSplit.Executor/obj/project.nuget.cache
/AlexSplit/.vs/AlexSplit/DesignTimeBuild/.dtbcache.v2
/AlexSplit/.vs/AlexSplit/v16/.suo
/AlexSplit/.vs/AlexSplit/DesignTimeBuild/.dtbcache.v2
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.deps.json
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.dll
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.Executor.dll
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.Executor.pdb
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.pdb
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit-log-file.log
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/log4net.config
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/main.log
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.deps.json
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.dll
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.pdb
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/log4net.config
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csproj.CoreCompileInputs.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csproj.FileListAbsolute.txt
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.dll
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.pdb
/AlexSplit/.vs/AlexSplit/DesignTimeBuild/.dtbcache.v2
/AlexSplit/.vs/AlexSplit/v16/.suo
/AlexSplit/AlexSplit.Executor/bin/Debug/netcoreapp3.1/AlexSplit.Runner.deps.json
/AlexSplit/AlexSplit.Executor/bin/Debug/netcoreapp3.1/AlexSplit.Runner.dll
/AlexSplit/AlexSplit.Executor/bin/Debug/netcoreapp3.1/AlexSplit.Runner.pdb
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Runner.AssemblyInfo.cs
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Runner.AssemblyInfoInputs.cache
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Runner.assets.cache
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Runner.csproj.CoreCompileInputs.cache
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Runner.csproj.FileListAbsolute.txt
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Runner.csprojAssemblyReference.cache
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Runner.dll
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/AlexSplit.Runner.pdb
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csproj.CoreCompileInputs.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csproj.FileListAbsolute.txt
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.dll
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.pdb
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csproj.CoreCompileInputs.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csproj.FileListAbsolute.txt
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.dll
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.pdb
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.deps.json
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.dll
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.pdb
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/log4net.config
/AlexSplit/AlexSplit.Executor/obj/AlexSplit.Runner.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit.Executor/obj/AlexSplit.Runner.csproj.nuget.g.props
/AlexSplit/AlexSplit.Executor/obj/AlexSplit.Runner.csproj.nuget.g.targets
/AlexSplit/.vs/AlexSplit/DesignTimeBuild/.dtbcache.v2
/AlexSplit/.vs/AlexSplit/v16/.suo
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csproj.CoreCompileInputs.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.csproj.FileListAbsolute.txt
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.dll
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.pdb
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.pdb
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.pdb
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.deps.json
/AlexSplit/AlexSplit.Executor/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.exe
/AlexSplit/AlexSplit/bin/Debug/netcoreapp3.1/AlexSplit.runtimeconfig.dev.json
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.dgspec.json
/AlexSplit/AlexSplit/obj/AlexSplit.csproj.nuget.g.props
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.assets.cache
/AlexSplit/AlexSplit/obj/Debug/netcoreapp3.1/AlexSplit.exe
/AlexSplit/AlexSplit/obj/project.assets.json
/AlexSplit/AlexSplit/obj/project.nuget.cache
